# Created by https://www.gitignore.io/api/phpstorm

### PhpStorm ###
# Reference: https://intellij-support.jetbrains.com/hc/en-us/articles/206544839

# JetBrains templates
**___jb_tmp___

# End of https://www.gitignore.io/api/phpstorm

.idea
.idea/
